*{
	box-sizing: border-box;
	margin: 0;
}

body{
	font-family: 'Questrial', sans-serif;
}

.imagem-background{
	background-image: url("../img/background-1.jpg");
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    margin-bottom: 4px;
    }

.logo{
	height: 120px;
	width: 120px;
	float: left;
	margin-left: 30px;
	padding-top: 10px;
}

.menu{
	float: left;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: -40px;
}

.menu dd{
	display: inline-flex;
}

.menu dd a{
	color: brown;
	margin: 15px;
	font-size: 20px;
}

.menu dd a:hover{
	color: blue;
}

.praia{
	font-size: 50px;
	text-align: center;
	color: white;
	background: brown;
	height: 200px;
	padding-top: 80px;
}

.praias-img{
	text-align: center;
}

.praias-img img{
	width: 300px;
	height: 250px;
}

footer{
	background-color: navy;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer p{
	color: white;
}